{%extends "layout.html"%}
{% block title %}
Login Page
{% endblock %}
{% block content%}
<div class="login-container">
    <h2>Login</h2>
    {% if message %}
    <h3>{{ message }}</h3>
    {% endif %}
    <form action="/logincustomer" method="post">

        <label for="username">User ID</label>
        <input type="text" id="username" name="username" required>

        <br>


        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <br> <br>


        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}